html {
    font-size: 15px;
    background: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3JmdWwlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
}

.circle {
    visibility: visible;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    color: aqua;
    border: var(--circleSize) solid var(--colourChange);
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    visibility: visible;
    border-radius: 8px;
    background-color: yellow;
    /* border: 50% solid red 10px; */
    margin-top: 20px;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    
}

#button:hover{
    box-shadow: rgb(255, 0, 174) 0px 1px 30px;
}
/* Using css variables */
:root {
    --colourChange: #800080;
    --circleSize: 20px;
}

